.box{
  display: flex;
  flex-direction: row;
  overflow: scroll;
  width: 300px;
  height: 200px;
  background-color: yellow;
  gap: 10px;
  list-style: none;
}
li{
  display: flex;
  flex-direction: column;
  color: green;
  margin: 5px;
}